* {
	margin: 0;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.leftside {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

article {
	background-color: grey;
	width: 100px;
	height: 200px;
	margin: 10px;
}